version: "3"
services:
  # debug:
  #   container_name: handson-debug
  #   image: debian:buster
  #   command: ["tail", "-f", "/dev/null"]
  db:
    container_name: handson-db-service
    build:
      context: .
      dockerfile: ./platform/db/Dockerfile
  item:
    container_name: handson-item-service
    environment:
      DB_HOST: handson-db-service
      DB_PORT: 5000
      LISTEN_PORT: 5001
    build:
      context: .
      dockerfile: ./services/item/Dockerfile
    ports:
      - "5001:5001"
  customer:
    container_name: handson-customer-service
    environment:
      DB_HOST: handson-db-service
      DB_PORT: 5000
      LISTEN_PORT: 5002
    build:
      context: .
      dockerfile: ./services/customer/Dockerfile
    ports:
      - "5002:5002"
  authority:
    container_name: handson-authority-service
    environment:
      CUSTOMER_HOST: handson-customer-service
      CUSTOMER_PORT: 5002
      LISTEN_PORT: 5003
    build:
      context: .
      dockerfile: ./services/authority/Dockerfile
    ports:
      - "5003:5003"
  catalog:
    container_name: handson-catalog-service
    environment:
      CUSTOMER_HOST: handson-customer-service
      CUSTOMER_PORT: 5002
      ITEM_HOST: handson-item-service
      ITEM_PORT: 5001
      LISTEN_PORT: 5004
    build:
      context: .
      dockerfile: ./services/catalog/Dockerfile
    ports:
      - "5004:5004"
  gateway:
    container_name: handson-gateway-service
    environment:
      AUTHORITY_HOST: handson-authority-service
      AUTHORITY_PORT: 5003
      CUSTOMER_HOST: handson-customer-service
      CUSTOMER_PORT: 5002
      LISTEN_PORT: 5005
      GATEWAYHTTP_PORT: 4000
    build:
      context: .
      dockerfile: ./services/gateway/Dockerfile
    ports:
      - "5005:5005"
      - "4000:4000"
